body{
    
    background-image: url(pepsi.jpg);
    color: aliceblue;
    background-attachment: fixed;
}

h1,h2, p{
    color: aliceblue;
    text-align: center;
}

section{
    padding: 20px 30px;
    border: 2px solid rgb(15, 75, 255);
    margin: 20px 2px;
    background-color:rgba(227, 0, 0, 0.791);
    color: aliceblue;
    text-align: center;
}

a, ul{
    text-align: left;
    color: aliceblue;
}

fieldset{
    padding: 5px 2px;
    margin:5px 2px;
}

figure {
    padding: auto;
    margin: auto;
}