body{
    
    background-image: url(pepsi.jpg);
    color: aliceblue;
}

h1,h2, p{
    color: aliceblue;
    text-align: left;
}

section{
    padding: 20px 30px;
    border: 2px solid rgb(15, 75, 255);
    margin: 20px 2px;
    background-color:rgba(227, 0, 0, 0.791);
    color: aliceblue;
    text-align: left;
}

a, ul{
    text-align: left;
    color: aliceblue;
}

fieldset{
    padding: 2px 3px;
    margin: 3px 3px;
}